p , a, b, em{
    font-family: "Manrope", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    margin: 10 0;
}

h1, h2, h3{
    font-family: "Manrope", Helvetica, sans-serif;
    color: #fdd565;
    text-transform: uppercase;
    margin: 2px;
}

h1 {
    font-size: 40px;
    text-align: left;
    letter-spacing: 18px;
    text-transform: uppercase;
    font-weight: 100;
    display:inline-block;
}

h1:hover{ 
    color: #ffffff;
    cursor: pointer;
}

body {
    background-color:  #fca738;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h2 {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
}

h3 {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
}

button {
    background-color: transparent;
    color: #ffd35b;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    float: right;
}

a, b {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.dark-mode a {
    color: #ffffff;
}

.dark-mode b {
    color: #ffffff;
}

small {
    font-size:8px;
    font-family: "Manrope", Helvetica, sans-serif;
    color: #ffd35b;
    text-transform: uppercase;
    letter-spacing: 2px;
} 

button:hover {
    color: #ffffff;
}

.dark-mode {
    background-color: #222222;
}

.dark-mode p {
    color: #ffffff;
}

.collapsible {
    color: #ffd35b;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    padding: 0px 0px;
}

.collapsible:hover {
    color: #ffffff;
}

.content {
    display: none;
    overflow: hidden;
    padding: 0px 0px 0px 50px;
    max-width: 60%;
}

.section {
    padding: 5px 0px 5px 0px;
}

.minor-section {
    padding: 2px 0px 3px 0px;
}

footer {
    padding: 10px 0px;
}


ul {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #E74C3C;
    cursor: pointer;
    transition: all .5s ease;
    
    &:hover {
      background: darken(#E74C3C, 3);
    }
    
    &.active {
      flex: 5;
      background: #fff;
      cursor: default;
      
      h2 {
        color: #E74C3C;
      }
      
      .section-content {
        flex: 4;
        opacity: 1;
        color: #E74C3C;
      }
    }
    
    .section-title {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      color: white;
      
      h2 {
        margin: 0;
        transform: rotate(-90deg);
        white-space: nowrap;
      }
    }
    
    .section-content {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      opacity: 0;
      transition: all .25s .1s ease-out;
    }
  }
  
  