p {
    font-family: "Helvetica", Arial, sans-serif;
    color: #fdcb42
}

h1, h2, h3 {
    font-family: "Helvetica", Arial, sans-serif;
    color: #ffd35b

}

h1 {
    font-size: x-large,
}
body {
    background-color: #fcba03
}